Redirect 301 /journal/2011/1/11/automating-ios-over-the-air-beta-deployment.html /automating-ios-over-air-beta-deployment 
Redirect 301 /journal/2011/1/5/quick-iphone-4-hdr-samples.html /hdr-samples 
Redirect 301 /journal/2010/12/14/drop-in-reachability-check.html /drop-in-reachability-check
Redirect 301 /journal/2010/12/11/slow-assimilation-works-best.html /slow-assimilation-works-best
Redirect 301 /journal/2010/12/11/the-answer-to-will-you-mentor-me-is-no.html /answer-to-you-mentor-me-is-no
Redirect 301 /journal/2010/12/11/did-i-ever-tell-you-about-ashton.html /did-i-ever-tell-you-about-ashton
Redirect 301 /journal/2010/10/19/google-buzz-for-iphone.html /google-buzz-for-iphone
Redirect 301 /journal/2010/9/29/rim-playbook-reaction.html /rim-playbook-reaction
Redirect 301 /journal/2010/9/18/followup-why-startups-outside-tech-cities-arent-totally-fark.html /followup-why-startups-outside-tech
Redirect 301 /journal/2010/9/18/on-startups-and-puerto-ricos-dim-future.html /on-startups-and-puerto-rico-dim-future
Redirect 301 /journal/2010/9/15/a-deeper-look-at-the-new-twitter.html /deeper-look-at-new-twitter
Redirect 301 /journal/2010/9/14/a-first-look-at-the-new-twitter.html /first-look-at-new-twitter
Redirect 301 /journal/2010/8/15/objective-see.html /objective-see
Redirect 301 /journal/2010/8/10/building-a-website-html5-boiler-plates.html /boiler-plates
Redirect 301 /journal/2010/6/5/quick-update-wwdc10-beyond.html /quick-update-wwdc10
Redirect 301 /journal/2010/5/24/gowalla-spots-in-puerto-rico.html /gowalla-spots-in-puerto-rico
Redirect 301 /journal/2010/5/11/comlink-11-now-available.html /now-available
Redirect 301 /journal/2010/5/3/mint-for-android.html /mint-for-android
Redirect 301 /journal/2010/5/3/comlink-11-update-soon.html /update-soon
Redirect 301 /journal/2010/4/29/wwdc-2010-in-early-june.html /in-early-june
Redirect 301 /journal/2010/4/21/startup-lessons-learned-conference-simulcast.html /startup-lessons-learned-conference
Redirect 301 /journal/2010/4/21/using-mint-as-a-bppr-customer-part-ii.html /using-mint-as-bppr-customer-part-ii
Redirect 301 /journal/2010/4/7/the-ipad-has-a-camera.html /ipad-has-camera
Redirect 301 /journal/2010/4/1/the-ipad-is-almost-here.html /ipad-is-almost-here
Redirect 301 /journal/2010/3/28/meetup-at-the-office.html /meetup-at-office
Redirect 301 /journal/2010/3/28/sxsw-photo-recap.html /sxsw-photo-recap
Redirect 301 /journal/2010/3/25/geolocation-viz-during-south-by-southwest.html /geolocation-viz-during-south-by
Redirect 301 /journal/2010/3/22/9-tips-to-south-by-southwest-for-first-timers.html /tips-to-south-by-southwest-for-first
Redirect 301 /journal/2010/3/16/sxsw-day-two-saturday-morning.html /sxsw-day-two-saturday-morning
Redirect 301 /journal/2010/3/13/sxsw-day-one.html /sxsw-day-one
Redirect 301 /journal/2010/3/11/omgwtfbbq-sxsw.html /omgwtfbbq-sxsw
Redirect 301 /journal/2010/3/3/using-mint-as-a-bppr-customer.html /using-mint-as-bppr-customer
Redirect 301 /journal/2010/2/25/the-day-quake-shook-me-into-programming.html /day-quake-shook-me-into-programming
Redirect 301 /journal/2010/2/23/accessing-buzz-timeline-information.html /accessing-buzz-timeline-information
Redirect 301 /journal/2010/2/9/whats-all-the-buzz-about-at-google.html /what-all-buzz-about-at-google
Redirect 301 /journal/2010/2/8/need-an-iphone-app.html /need-iphone-app
Redirect 301 /journal/2010/2/3/la-x.html /la-x
Redirect 301 /journal/2010/1/28/developers-love-the-ipad.html /developers-love-ipad
Redirect 301 /journal/2010/1/27/apple-tablet-ipad.html /apple-tablet-ipad
Redirect 301 /journal/2010/1/10/sxsw-2010.html /sxsw-2010
Redirect 301 /journal/2010/1/9/loma-del-sol-video-with-animoto.html /loma-del-sol-video-with-animoto
Redirect 301 /journal/2009/11/26/gowalla-hunt.html /gowalla-hunt
Redirect 301 /journal/2009/10/23/explosion-in-puerto-rico.html /explosion-in-puerto-rico
Redirect 301 /journal/2009/10/21/a-cheapskates-monitor-stand.html /cheapskate-monitor-stand
Redirect 301 /journal/2009/10/15/citizen-journalism-strike-in-puerto-rico.html /citizen-journalism-strike-in-puerto
Redirect 301 /journal/2009/9/30/quick-tip-security-policy-error-during-deployment.html /quick-tip-security-policy-error-during
Redirect 301 /journal/2009/9/30/advanced-workshop-starting-and-building-a-high-growth-ventur.html /advanced-workshop-and-building-high
Redirect 301 /journal/2009/9/19/threadsy-unified-inbox-for-the-web.html /threadsy-unified-inbox-for-web
Redirect 301 /journal/2009/8/28/comlink-hits-it-big-in-japan.html /comlink-hits-it-big-in-japan
Redirect 301 /journal/2009/8/26/such-is-life.html /is-life
Redirect 301 /journal/2009/8/9/app-store-review-process-woes.html /app-store-review-process-woes
Redirect 301 /journal/2009/8/3/comlink-two-way-bluetooth-walkie-talkie.html /comlink-two-way-bluetooth-walkie-talkie
Redirect 301 /journal/2009/7/14/share-images-from-iphone-to-iphone-with-bluetooth.html/journal/2009/7/8/puerto-rico-trabaja.html /share-images-from-iphone-to-iphone-with
Redirect 301 /journal/2009/7/5/tecnamica-interview-with-vaya-broqui.html /tecnamica-interview-with-vaya-broqui
Redirect 301 /journal/2009/7/3/youtool-youtube-video-launcher-for-your-iphone.html /youtool-youtube-video-launcher-for-your
Redirect 301 /journal/2009/6/26/wwdc-demo-parranda-for-iphone-and-ipod-touch.html /wwdc-demo-parranda-for-iphone-and-ipod
Redirect 301 /journal/2009/6/19/iphone-3g-s-obtained.html /iphone-3g-s-obtained
Redirect 301 /journal/2009/6/18/enable-mms-and-internet-tethering-on-your-iphone-30-with-itu.html /enable-mms-and-internet-tethering-on
Redirect 301 /journal/2009/6/17/parranda-update-nuyorican-edition.html /parranda-update-nuyorican-edition
Redirect 301 /journal/2009/6/15/wwdc-2009-attendee-bash-cake.html /attendee-bash-cake
Redirect 301 /journal/2009/6/6/apple-worldwide-developers-conference.html /apple-worldwide-developer-conference
Redirect 301 /journal/2009/6/5/netflix-responds.html /netflix-responds
Redirect 301 /journal/2009/5/31/netflix-excludes-puerto-rico-charges-full-price.html /netflix-excludes-puerto-rico-charges
Redirect 301 /journal/2009/5/29/getting-ready-for-wwdc-2009.html /getting-ready-for-wwdc-2009
Redirect 301 /journal/2009/5/27/eyetour-puerto-rico-wins-sme-webad-award-2009.html /eyetour-puerto-rico-wins-sme-webad
Redirect 301 /journal/2009/5/11/proper-use-of-the-iphone-touch-keyboard.html /proper-use-of-iphone-touch-keyboard