---
layout: blog
title: TEDx San Juan 2011
---

<!-- ZONA BANNER -->
<div id="zona_banner">
	<div id="zona_banner_content">
    	<h1>BROWSE <b>UPDATES</b></h1>
	</div>
</div>

<!-- CONTENIDO -->
<section>
	<div id="section_content">
    	<div id="column_left02">
            
	    	{% for post in site.posts %}
				<div class="news">
	            	<span class="fecha_aviso left">{{ post.date | date_to_string }}</span>
	                <span class="postby right">Posted by {{ post.author }} | No Comments</span><br>
	                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	                {{ post.content | before_fold }}
	                <a href="{{ post.url }}" class="view_more">READ MORE >></a>
	            </div>
	    	{% endfor %}            
        </div>
        
	    {% include right_column.html %}
    </div>
</section>
