---
layout: informational
title: Archives
---
<div id="archives">
	<header>
		<p>All posts can be found on this page or by <a href="{{site.base_url}}/search" title="Search">searching</a>. Bits (short-form pieces) are not included here and have <a href="{{site.base_url}}/bits" title="Bits">their own section</a>.</p><br/>
	</header>
	{% for year in (2005..2015) reversed %}
		{% if site.collated_posts[year] %}
		<h2 class="archives">{{ year }}</h2>
		{% endif %}
		{% for month in (1..12) reversed %}
			{% if site.collated_posts[year][month] %}
			<h3>{{ month | to_month }}</h3>
			<section class="archive-page">
			{% for day in (1..31) reversed %}
				{% if site.collated_posts[year][month][day] %}
					{% for post in site.collated_posts[year][month][day] reversed %}
					<article><a href='{{ site.base_url }}{{ post.url }}' title="{{ post.title }}">{{ post.title }}</a></article>
					{% endfor %}
				{% endif %}
			{% endfor %}
			</section>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>