---
layout: default
title: TEDxSanJuan
---

<!-- NAV -->
<nav>
	<ul>
    	<li><a href="index">ABOUT US</a></li>
        <li><a href="tedx">ABOUT TEDx</a></li>
        <li><a href="speakers">SPEAKERS</a></li>
        <li><a href="venue">VENUE</a></li>
        <li><a href="sponsors">SPONSORS</a></li>
        <li><a href="contact">CONTACT US</a></li>
        <li><a href="blog" class="select">NOMINEE BLOG</a></li>
    </ul>
</nav>

<!-- ZONA BANNER -->
<div id="zona_banner">
	<div id="zona_banner_content">
    	<h1>LATEST <b>NEWS</b></h1>
	</div>
</div>

<!-- CONTENIDO -->
<section>
	<div id="section_content">
    	<div id="column_left02">
            
            <p class="bajada">Stay up to date with the latest news and information on TEDx San Juan. To read each article please click on its title or the 'read more' link.</p>
            
	    	{% for post in site.posts limit: 3 %}
				<div class="news">
	            	<span class="fecha_aviso left">{{ post.date | date_to_string }}</span>
	                <span class="postby right">Posted by Admin | No Comments</span><br>
	                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	                {{ post.content | before_fold }}
	                <a href="{{ post.url }}" class="view_more">READ MORE >></a>
	            </div>
	    	{% endfor %}

            <div id="paginador">
            	<span class="actual">1</span>
                <span>|</span>
                <a href="#">2</a>
                <span>|</span>
                <a href="#">3</a>
                <span>|</span>
                <a href="#">4</a>
                <span>|</span>
                <a href="#">5</a>
            </div>
            
        </div>
        
	    {% include right_column.html %}
    </div>
</section>
