---
layout: default
title: H&eacute;ctor Ramos
---

<div id="home">
  <h1>Recent Posts <small class="subhead">long-form articles</small></h1>
  <ul class="posts post_listing">
    {% for post in site.posts limit: 1 %}
		{% include post_listing.html %}
    {% endfor %}
  </ul>

  <ul class="posts up1">
    {% for post in site.posts limit: 15 %}
		{% if forloop.index > 1 %}
      		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
    {% endfor %}
  </ul>

  <h1>Bits <small class="subhead">daily chatter</small></h1>
  <ul class="posts up1">
    {% for bit in site.bits limit: 15 %}
		{% if forloop.index > 1 %}
      		<li><span>{{ bit.date | date_to_string }}</span> &raquo; <a href="{{ bit.url }}">{{ bit.title }}</a></li>
		{% endif %}
    {% endfor %}
  </ul>
  
  <h1>iOS Apps <small>Personal</small></h1>
  <ul class="posts">
    <li><span>July 2010</span> &raquo; <a href="#">Buzzes</a></li>
    <li><span>August 2009</span> &raquo; <a href="#">COM:LINK</a></li>
    <li><span>July 2009</span> &raquo; <a href="#">ImageShare</a></li>
    <li><span>June 2009</span> &raquo; <a href="#">YouTool</a></li>
    <li><span>October 2008</span> &raquo; <a href="#">iPOS</a></li>
  </ul>

  <h1>iOS Apps <small>Contract</small></h1>
  <ul class="posts">
    <li><span>April 2011</span> &raquo; <a href="#">TBA</a></li>
  </ul>

  <h1>iOS Apps <small>Polsense</small></h1>
  <ul class="posts">
    <li><span>December 2009</span> &raquo; <a href="#">Heineken Cheers</a></li>
    <li><span>March 2011</span> &raquo; <a href="#">TBA</a></li>
  </ul>
  
  <h1>Open Source Projects</h1>
  <ul class="posts">
    <li><a href="http://github.com/hramos/HRTabBar/">HRTabBar:</a> ??????.</li>
  </ul>
</div>
  