[![alt text](http://c185824.r24.cf1.rackcdn.com/app_youtool.png "YouTool")](itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320588383&mt=8&s=143441)

Your buddy just sent you a link to a YouTube video, but you are at work where the website is blocked. What do you do?

You have an iPhone which can watch YouTube videos! But wait, how do you launch that specific video your buddy sent? Easy!

Open up YouTool and type in the YouTube Video Code found at the end of all YouTube URLs. YouTool will launch the native iPhone YouTube app and you will be watching your YouTube video in seconds!

### …but my iPhone already has a YouTube application! ###

Sure, but you only have a link to YouTube. You need to know the name of the video to at least begin searching for it. You can’t open the link to the video because the website may be blocked. YouTool allows you to quickly launch that specific video without wasting minutes searching for it in YouTube.

[![alt text](http://c185824.r24.cf1.rackcdn.com/app_store_badge.png "Download on the App Store")](itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320588383&mt=8&s=143441)

