[![alt text](http://c185824.r24.cf1.rackcdn.com/app_imageshare.png "ImageShare")](itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320375566&mt=8&s=143441)

ImageShare lets you share pictures with your friends! Take advantage of the newly available Bluetooth connection to instantly send pictures to another iPhone or iPod Touch.
No signal? No problem! Bluetooth works in tunnels, indoors and wherever even in the absence of a cellular network. Just pair up your device with a friend’s and start sharing your pictures!

Images slide over from one iPhone or iPod to the other as if they were the same device.

Can’t send an e-mail with your picture due to lack of signal? No Wi-Fi means your iPod Touch can not send pictures through e-mail. Don’t feel left behind, use ImageShare to send pictures over Bluetooth instantly.

[![alt text](http://c185824.r24.cf1.rackcdn.com/app_store_badge.png "Download on the App Store")](itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320375566&mt=8&s=143441)
