[![alt text](http://c185824.r24.cf1.rackcdn.com/app_comlink.png "COM:LINK")](http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=322502765&mt=8)

Built upon the iPhone’s new Bluetooth Voice Chat functionality. It allows two friends to chat through their iPhone or iPod Touch using the Bluetooth connection, with out running down their minutes.

Once paired, two buddies can chat all they want through their COM:LINK radio – organize your own “secret missions” for play, or use it in real situations where there is no cell signal coverage – great in San Francisco!

The decibel meter goes up and down as you speak into the COM:LINK. It works just like a real radio – hold down the Talk Button to chat with your buddy. Mute your speakers to mantain your cover.

[![alt text](http://c185824.r24.cf1.rackcdn.com/app_store_badge.png "Download on the App Store")](http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=322502765&mt=8)
