<!-- ZONA BANNER -->
<div id="zona_banner">
	<div id="baner">
    	<div id="nav_banner">
        	<a href="#" id="btn_speakers"></a>
            <a href="#" id="btn_attend"></a>
            <div id="newsletter">
            <form method="post" action="#">
            	<input type="text" name="user" accesskey="Usuario" placeholder="your name" required />
                <input type="email" name="email" accesskey="Usuario" placeholder="email address" required />
                <input type="submit" name="submit" value="JOIN NOW"/>
            </form>
            </div>
        </div>
        
        <div id="img_banner">
        	<div id="sombra_top"></div>
            <div id="sombra_left"></div>
            <img border="0" src="images/img_banner.jpg" width="945" height="342" />
            <div id="sombra_right"></div>
            <div id="sombra_fot"></div>
        </div>
    </div>
</div>