<!-- ZONA BANNER -->
<div id="zona_banner">
	<div id="baner">
    	<div id="nav_banner">
            <a href="attend" id="btn_attend"></a>
            <div id="newsletter">
            <form method="POST" action="http://tedxsanjuan.us2.list-manage.com/subscribe/post">
				<input type="hidden" name="u" value="3fa21ba7bf89e45fad4b4b0a3">
				<input type="hidden" name="id" value="d4f3906ae5">
				<input type="hidden" name="EMAILTYPE" value="html">
				<input type="text" name="MERGE1" id="MERGE1" size="25" value=""  accesskey="Usuario" placeholder="your name" required />
 				<input type="email" name="MERGE0" id="MERGE0" size="25" value="" accesskey="Usuario" placeholder="email address" required />
				<input type="submit" class="button" name="submit" value="JOIN NOW" />
            </form>
            </div>
        </div>
        
        <div id="img_banner">
        	<div id="sombra_top"></div>
            <div id="sombra_left"></div>
            <img border="0" src="http://c255799.r99.cf1.rackcdn.com/img_banner.png" width="945" height="342" />
            <div id="sombra_right"></div>
            <div id="sombra_fot"></div>
        </div>
    </div>
</div>