  <div class="footer">
    <div class="contact">
      <p>
        H&eacute;ctor Ramos<br />
        iOS engineer at <a href="http://polsense.com/">Polsense</a>        
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/hramos/">github.com/hramos</a><br />
        <a href="http://twitter.com/hectorramos/">twitter.com/hectorramos</a><br />
        <a href="http://gowalla.com/hramos/">gowalla.com/hramos</a><br />
        <a href="http://flickr.com/photos/hramos/">flickr.com/photos/hramos</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/HectorRamos">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
