<footer class="footer">
	<section class="contact">
		<p>
        	H&eacute;ctor Ramos<br />
        	iOS engineer at <a href="http://polsense.com/">Polsense</a>
			<address>hi@hectorramos.com</address>
		</p>
    </section>
    <section class="contact">
		<p>
        	<a href="http://github.com/hramos/">github.com/hramos</a><br />
        	<a href="http://twitter.com/hectorramos/">twitter.com/hectorramos</a><br />
        	<a href="http://gowalla.com/hramos/">gowalla.com/hramos</a><br />
    		<a href="http://flickr.com/photos/hramos/">flickr.com/photos/hramos</a>
		</p>
    </section>
    <section class="rss">
		<a href="http://feeds.feedburner.com/HectorRamos" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
			<img src="images/feed-icon-64x64.png" alt="Subscribe to RSS Feed" />
		</a>
	</section>
</footer>
