<footer> <!-- blog post footer -->
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{{ site.base_url }}{{page.url}}" show_faces="true" width="450"></fb:like>
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.base_url }}{{page.url}}" data-text="{{page.title}}" data-count="horizontal" data-via="hectorramos">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<div id="related">
  		<h2>Related Posts</h2>
  		<ul class="posts">
		{% for post in site.related_posts limit:3 %}
      		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    	{% endfor %}
  		</ul>
	</div>
	{% include comments.html %}
</footer>
