<div class="caja">
	<div class="aviso">
        <span class="fecha_aviso">2 Days ago</span><br>
        <a href="#" class="titulo_aviso">@asd123 </a><span>Speaker nominations are now open.</span>
    </div>
    <div class="aviso">
        <span class="fecha_aviso">2 Days ago</span><br>
        <a href="#" class="titulo_aviso">@asd123 </a><span>Speaker nominations are now open.</span>
    </div>
    <div class="aviso">
        <span class="fecha_aviso">2 Days ago</span><br>
        <a href="#" class="titulo_aviso">@asd123 </a><span>Speaker nominations are now open.</span>
    </div>
</div>
