<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="H&eacute;ctor Ramos" />
   <link href="http://feeds.feedburner.com/HectorRamos" rel="alternate" title="H&eacute;ctor Ramos" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

	{% include facebook_sdk.html %}
</head>
<body class="site">
	<header class="title">
		<hgroup>
    		<a class="sitename" href="/">H&eacute;ctor Ramos</a>
		</hgroup>
		<nav>
    		<a class="extra" href="/">home</a>
			<a class="extra" href="{{site.base_url}}/about" title="bits">about</a>
			<a class="extra" href="{{site.base_url}}/apps" title="apps">apps</a>
			<a class="extra" href="{{site.base_url}}/archives" title="bits">archives</a>
			<a class="extra" href="{{site.base_url}}/bits" title="bits">bits</a>
			<a class="extra" href="{{site.base_url}}/search" title="bits">search</a>
		</nav>
  </header>
  
  {{ content }}

  {% include footer.html %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-9033644-1");
pageTracker._trackPageview();
</script>

</body>
</html>
